.buy-hold-component {
  width: 100%;
  height: 100%;

  &.show {
    display: flex;
  }
  &.hide {
    display: none;
  }

  .resource-components-mini {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
}
