#board-component {
  box-sizing: border-box;
  background-image: radial-gradient(#af3640, #af3640, #af3640, #571a1f);
  padding: 1rem;
  height: 100vh;
  display: grid;
  grid-template-areas: 'top  tokens players' 'row-2 tokens players' 'row-1 tokens players' 'row-0 tokens players';
  grid-template-columns: 3fr 0.5fr 1.4fr;
  grid-template-rows: 145px 1fr 1fr 1fr;
  grid-gap: 1rem; }
